# ==============================================================================
# Template Konfigurasi DIRECT HTTP API (play.js)
# ==============================================================================

# Target Web & Game
BASE_URL=https://kemerdekaan.liputan6.com
MINIGAMES_USERNAME=zildjiannesta # required to change
# Pilihan game: "tariktambang", "panjatpinang", "balapkarung", atau "all"
GAME_CHOICE=tariktambang

# ==============================================================================
# Solver reCAPTCHA & Anti-Ban Daemon Sync
# ==============================================================================
HEADLESS=true
K6_BROWSER_HEADLESS=true
USE_CDP=false

# Akun Chrome / User Data Profile untuk reCAPTCHA Reputation
CHROME_USER_EMAIL=252011057@asia.ac.id # required to change

CAPTCHA_MODE=auto
PROXY_SERVER=
CAPTCHA_MIN_INTERVAL_SEC=6
CAPTCHA_DOS_COOLDOWN_SEC=90

# Token STT untuk solver background
WITAI_ACCESS_TOKEN=hawo # required to change, create wit.ai client token (https://wit.ai/)
OPENAI_API_KEY=
HF_API_KEY=

# Cloud 3rd-Party Solvers (Opsional)
CAPSOLVER_API_KEY=
TWOCAPTCHA_API_KEY=
RECAPTCHA_SITEKEY=6Ld_e78qAAAAAF1Uwh807r9U5E9w1lWbQvE9k7N2
GRECAPTCHA_TOKEN=

# ==============================================================================
# k6 Performance & Concurrency Settings (API Mode)
# ==============================================================================
VUS=1
LOOP_COUNT=100

# Game Simulation Settings (Strategi 7.8s)
TIME_LEFT=21
SIMULATE_GAMEPLAY_DELAY=true
GAMEPLAY_DURATION_SEC=9.2

# Jeda antar ronde (detik)
ROUND_DELAY_SEC=3
